.pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 12vh;
}

.page-item {
  display: inline-block;
}

.page-link {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-size: 1rem;
  padding: 0.5em 1rem;
}

.active {
  font-size: 1.1rem;
  font-weight: bold;
}

select {
  position: absolute;
  right: 2rem;
  bottom: 12vh;
  transform: translate(-50%, -50%);
  color: #007bff;
  background-color: #fff;
  border: 0px solid #dee2e6;
  font-size:1rem;
  padding: 0.5rem 1rem;
}
