<!-- header for 'login' && 'signup' pages -->
<div *ngIf="hasRoute('login') || hasRoute('signup')">
  <nav class="navbar">
    <h2>Rest API</h2>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
  </nav>
</div>

<!-- common header -->
<div *ngIf="!hasRoute('login') && !hasRoute('signup')">
  <nav class="navbar">
    <div class="left_side">
      <div class="header_item">Rest API</div>
      <div class="header_item">
        <button (click)="popupWindow()">
          Add new
        </button>
      </div>
    </div>
    <div class="right_side">
      <div class="header_item">User: {{ getUser() }}</div>
      <ul class="header_item">
        <li routerLinkActive="active">
          <a href="#" (click)="logout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
