<app-header-login></app-header-login>
<div class="container">
  <div class="wrapper">
    <img class="logo" src="../../../assets/img/logo.png" alt="Logo" />
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="row">
        <input formControlName="username" placeholder="username" />
      </div>
      <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-form">
        <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
      </div>
      <div class="row">
        <input
          type="password"
          formControlName="password"
          placeholder="password"
        />
      </div>
      <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-form">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      </div>
        <app-global-error></app-global-error>
      <div class="row button">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>
