<app-header-login></app-header-login>
<app-alert></app-alert>
<div class="container">
  <div class="wrapper">
    <div class="title">
      Register
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <div class="row">
          <label>User name</label>
          <input formControlName="username">
        </div>
        <div *ngIf="submitted && signUpForm.get('username')?.errors" class="invalid-form">
          <div *ngIf="signUpForm.get('username')?.errors?.required || signUpForm.get('username')?.errors?.minlength">
            Username must contain more than 4 characters
          </div>
        </div>
        <div class="row">
          <label>Password</label>
          <input formControlName="password" type="password">
        </div>
        <div *ngIf="submitted && signUpForm.get('password')?.errors" class="invalid-form">
          <div *ngIf="signUpForm.get('password')?.errors?.required || signUpForm.get('password')?.errors?.minlength">
            Password must contain more than 3 characters
          </div>
        </div>
        <div class="row">
          <label>Confirm password</label>
          <input formControlName="confirmPassword" type="password">
        </div>
        <div *ngIf="submitted && signUpForm.get('confirmPassword')?.errors?.confirmPasswordValidator" class="invalid-form">
          Passwords do not match
        </div>
        <div class="button">
          <input class="cancel-button" (click)="cancelPressed()" value="Cancel">
          <input type="submit" value="Sign Up">
        </div>
    </form>
  </div>
</div>

