$base-spacing-unit: 12px;
$half-spacing-unit: 6px;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;



.container {
  //background-color: aqua;
  left: 0;
  top: 3rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
}

.table-header {
  display: flex;
  width: 100%;
  background: #04aa6d;
  padding: ($base-spacing-unit * 0.7) 0;
  border-radius: 5px;
}

.table-row {
  display: flex;
  width: 100%;
  padding: $half-spacing-unit 0;
  border-width: 1px;
  border: solid;
  border-color: grey;
  &:nth-of-type(odd) {
    background: $color-form-highlight;
  }
}

.table-data,
.header__item {
  flex: 1;
  text-align: center;
}

// .header__item {
//   text-transform: uppercase;
// }

.bt {
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  border-width: 0;
}

.view {
  background-color: blue;
  color: white;
}

.edit {
  background-color: yellow;
}

.delete {
  width: 4rem;
  background-color: red;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: $base-spacing-unit;
  padding-right: $base-spacing-unit;

  &::after {
    content: "";
    position: absolute;
    right: -($half-spacing-unit * 1.5);
    color: white;
    font-size: $half-spacing-unit;
    top: 50%;
    transform: translateY(-50%);
  }

  &.desc::after {
    content: "(desc)";
  }

  &.asc::after {
    content: "(asc)";
  }
}

.viewport {
  height: max(31rem);
  width: 100%;
  border: 1px solid black;
}

//.example-item {
//  height: 50px;
//}
