<app-header (isNewPressed)="addNewCertificate()"></app-header>
<div class="container" >
  <app-alert></app-alert>
  <div class="search-element">
    <input #pattern type="text" placeholder="Search...">
    <button (click)="search(pattern.value)">Go</button>
  </div>
  <div class="table">
    <div class="table-header">
      <div class="header__item">
        <button class="sort_button" (click)="changeDatetimeSort()">
          <i class="fa fa-sort-asc" *ngIf="datetimeSort == 1" ></i>
          <i class="fa fa-sort-desc" *ngIf="datetimeSort == -1" ></i>
          <i class="fa fa-sort" *ngIf="datetimeSort == 0" ></i>
          <span> DATETIME </span>
        </button>
      </div>
      <div class="header__item">
        <button class="sort_button" (click)="changeTitleSort()">
          <i class="fa fa-sort-asc" *ngIf="titleSort == 1" ></i>
          <i class="fa fa-sort-desc" *ngIf="titleSort == -1" ></i>
          <i class="fa fa-sort" *ngIf="titleSort == 0" ></i>
          <span >TITLE</span>
        </button>
      </div>
      <div class="header__item">
        <button class="sort_button" (click)="changeTagsSort()">
          <i class="fa fa-sort-asc" *ngIf="tagsSort == 1" ></i>
          <i class="fa fa-sort-desc" *ngIf="tagsSort == -1" ></i>
          <i class="fa fa-sort" *ngIf="tagsSort == 0" ></i>
          <span>TAGS</span>
        </button>
      </div>
      <div class="header__item">
        <button class="sort_button" (click)="changeDescriptionSort()">
          <i class="fa fa-sort-asc" *ngIf="descriptionSort == 1" ></i>
          <i class="fa fa-sort-desc" *ngIf="descriptionSort == -1" ></i>
          <i class="fa fa-sort" *ngIf="descriptionSort == 0" ></i>
          <span>DESCRIPTION</span>
        </button>
      </div>
      <div class="header__item">
        <button class="sort_button" (click)="changePriceSort()">
          <i class="fa fa-sort-asc" *ngIf="priceSort == 1" ></i>
          <i class="fa fa-sort-desc" *ngIf="priceSort == -1" ></i>
          <i class="fa fa-sort" *ngIf="priceSort == 0" ></i>
          PRICE
        </button>
      </div>
      <div class="header__item">
        <button class="sort_button">
          <i class="fa fa-sort"  ></i>
          ACTIONS
        </button>
      </div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
      <div class="table-content" *cdkVirtualFor="let item of certificates" >
        <div class="table-row">
          <div class="table-data">{{ item.createDate }}</div>
          <div class="table-data">{{ item.name }}</div>
          <div class="table-data">
            <div *ngFor="let tag of item.tags" style="display: inline">
              {{ tag }}
            </div>
          </div>
          <div class="table-data">{{ item.description }}</div>
          <div class="table-data">{{ item.price | currency: 'UAH' }}</div>
          <div class="table-data">
            <button class="bt view" (click)="viewCertificate(item)" >View</button>
            <button *ngIf="isAdmin()" class="bt edit" (click)="editCertificate(item)">Edit</button>
            <button *ngIf="isAdmin()" class="bt delete" (click)="deleteCertificate(item)">Delete</button>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [size]="size"
    [link]="link"
    (changedPage)="changePage($event)"
    (changedSize)="changeSize($event)"
    *ngIf="!loading"
  >
  </app-pagination>

  <app-add-new-certificate
    *ngIf = "isPressed"
    [currentCertificate]="currentCertificate"
    [pageTitle]="pageTitle"
    [disabled]="disabled"
    (inAction)="addNewCertificate()"
  >
  </app-add-new-certificate>
</div>
<p class="loading" *ngIf="loading">Loading ...</p>

